<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Base Page</title>
</head>
<body>
  <h1>게시판</h1>
  <!-- 버튼을 클릭하면 /write로 이동 -->
  <form action="/write" method="get">
    <button type="submit">글 작성하러 가기</button>
  </form>
</body>
</html>