<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hi</h1>
    <form action="/search" method="get">
    <input type="text" name="id" placeholder="검색어를 입력하세요">
    <button type="submit">검색</button>
    </form>
    <% if (searchResult) { %>
        <h2>검색 결과: <%= searchResult %></h2>
    <% } %>
</body>
</html>